test/
*parquet
build/
toollib.egg-info/
.idea/
__pycache__
*csv
**/feature_backtracking.sh
**/get_req_data.sh
**/post_test.ipynb
**/tmp.ipynb
**/.ipynb_checkpoints/
*yaml
*.env
**/nohup.out
nohup*
*.env
**tmp.ipynb